<html>
<body>
    <h1>Mini Cam Rover</h1>
    <img src="/static/currentView.jpg" style="max-width: 360px;">
    <p>tableau de contrôle du module d'exploration</p>
    <form action="" method="post" style="max-width: 400px;">
        <label>angle caméra</label>
        <input id="camangle" name="camangle" placeholder = "angle caméra" type = "text"></input>
        <label>angle rouge</label>
        <input id="wheelangle" name="wheelangle" placeholder = "angle roue direction" type = "text"></input>
        <label>déplacement</label>
        <input id="move" name="move" placeholder = "déplacement" type = "text"></input>
        <input id="btn" name="submit" type="submit" value="Go" style="width:100%">
    </form>
</body>
</html>
