<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Mini Cam Rover</h1>
    <div class="dashboard">
        <img src="{{ currentViewPlace }}" >
        <p>Insérer les instructions et valider. Délai de quelques secondes pour la mise à jour.</p>
        <form action="" method="post">
            <label>angle caméra (0 - 180)</label>
            <input id="camangle" name="camangle" type = "range" min = "0" max = "180"></input>
            <br/>
            <label>angle roue de direction (-90 - 90)</label>
            <input id="wheelangle" name="wheelangle" type = "range" min = "-90" max = "90"></input>
            <br/>
            <label>déplacement (-20 - 100)</label>
            <input id="move" name="move" type = "range" min = "-20" max = "100"></input>
            <br/>
            <input id="btn" name="submit" type="submit" value="Go">
        </form>
    </div>
</body>
</html>
